<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <sapn class="logo">w-social</sapn>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li><a href="{% url 'dashboard' %}"></a></li>
        <li><a href="#">圖片</a></li>
    </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
        Hello, {{ request.user.first_name }}
        /<a href="{% url 'password_change' %}">更改密碼</a>/
        <a href="{% url 'logout' %}">登出</a>
        {% else %}
        <a href="{% url 'login' %}">登入</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>