{% extends 'base.html' %}
{% block title %}圖片列表{% endblock %}
{% block content %}
{% load thumbnail %}
<h1>圖片</h1>
<p>上傳圖片請點<a href="{% url 'image:image_upload' %}">這裡</a></p>

<div id="image-list" >
    {% for image in images %}
<div class="image">
    <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image "300x300" crop="100%" as im %}
        <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}">
        </a>
        {% endthumbnail %}
    </a>
    <div class="info">
        <a href="{{ image.get_absolute_url }}" class="title">
            {{ image.title }}
        </a></div>
</div>
{% endfor %}
</div>

<div>
    <ul style="list-style-type: none;">
        {% if images.has_previous %}
        <li style="display: inline-block;margin-right: 5px;padding:5px;border: 1px solid deepskyblue">
            <a href="?page={{ images.previous_page_number }}">上一頁</a>
        </li>
        {% endif %}
        {% if images.has_next %}
        <li style="display: inline-block;margin-left: 5px;padding:5px;border: 1px solid deepskyblue">
            <a href="?page={{ images.next_page_number }}">下一頁</a>
        </li>
        {% endif %}
    </ul>
</div>



{% endblock %}